@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #dcc9ff;
}

header h1 {
    font-size: 24px;
    color: #333;
    margin: 0;
    font-family:"Dancing Script";
    font-size: xx-large;
}
h1 span{
    display: block;
    padding: 5px;
}
span{
    font-family: "Merriweather", serif;
    font-size: 12px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
}
nav ul li a:hover {
    background: rgb(255, 255, 255); 
    border-radius: 10px;
    transform: scale(1.1);
    padding: 20px;
  }

main {
    padding: 20px;   
}

section.main-image {
    background-image: url(pics/yarn.jpg);
    background-size: cover;
    width: 100%;
    height: 300px; 
  }
.main-image h2 {
    font-family: "Merriweather", serif;
    font-style: italic;
    color: rgb(255, 255, 255);
    bottom: 0;
    right: 0;
    margin: 500px;
}

section {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

section p {
    color: #666;
    margin-left: 20px;
}

section img {
    max-width: 300px;
    height: auto;
}
.product {
    display: flex;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 5px;
}

.product .text {
    flex: 1;
    padding: 20px;
}

.product img {
    max-width: 50%;
    height:400px;
}

footer {
    background-color: #dcc9ff;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}
@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        display: block;
        margin-bottom: 10px;
    }
    nav ul li a {
        padding: 10px;
    }

    section.main-image h2 {
        margin: 300px;
    }
}
