main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
  }
  .blankets, .hats, .baby {
     margin-bottom: 20px;
    padding: 10px;
    border: 5px solid #ffffff;
    border-radius: 10px;
     width: 33%;
     display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    text-align: center;
  }
  section h2 {
    margin-bottom: 10px;
  }
  h3{
    margin: 5px;
  }
  a:link, a:visited {
    display: inline-block;
    padding: 10px 20px;
    background-color: #dcc9ff; 
    color: #000000;
    font-size: xx-large;
    border-radius: 5px;  
  }
  a:hover{
    background-color: #8f58f7;
  }